<% set_meta_tags title: '新規登録', description: 'Inssta Clone Appの新規登録画面です。' %>
<% provide(:title, 'Sign up') %>

<h1>新規登録</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="new-container">
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :full_name, "フルネーム" %>
        <%= f.text_field :full_name, class: "form-control", placeholder: "Suzuki Ichiro" %>
        <p>※非公開</p>

        <%= f.label :name, "ユーザーネーム" %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, class: 'form-control', placeholder: "insta.clone@example.com" %>

        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <div class="terms_of_service text-center">
          <%= link_to "利用規約", terms_of_service_path %> / 
          <%= link_to "プライバシーポリシー", privacy_policy_path %>
        </div><br>
        
        <%= f.submit "アカウント作成", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>