<li id="imagepost-<%= imagepost.id %>">
<%= link_to gravatar_for(imagepost.user, size: 50), imagepost.user %>
<span class="user"><%= link_to imagepost.user.name, imagepost.user %></span>
<span class="content"><%= imagepost.content %></span>
<span class="timestamp">
<%= time_ago_in_words(imagepost.created_at) %>前.
</span>
<%= link_to "コメントする", imagepost_path(@user) %>
</li>